@page "/TimerComponent"

<h1>@currentMinute : @currentSecond</h1>

<button class="btn btn-primary" @onclick="Start">Start</button>
<button class="btn btn-primary" @onclick="Stop">Stop</button>

@code { 

    private string currentMinute = System.DateTime.Now.Minute.ToString();
    private string currentSecond = System.DateTime.Now.Second.ToString();
    private static System.Timers.Timer timer;
    
    public void Start()
    {
        timer = new System.Timers.Timer(1000);
        timer.Elapsed += CountDownTimer;
        timer.Enabled = true;
    }

    public void Stop()
    {
        timer.Enabled = false;
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        currentMinute = System.DateTime.Now.Minute.ToString();
        currentSecond = System.DateTime.Now.Second.ToString();

        InvokeAsync(StateHasChanged);
    }
 }